<launch>
    <!-- teleop -->
    <node pkg='cargoclaw' type='testrob.py' name='teleop' output='screen' />
    <node pkg='cargoclaw' type='testrob_gui.py' name='teleop_gui' output='screen' />
    
    <!-- fiducial detection/processing -->
    <include $(find aruco_detect)/launch/aruco_detect.launch />
    <include $(find fiducial_slam)/launch/fiducial_slam.launch />
    
</launch>